link(href='https://test.tips-mart.com/stylesheets/styles.css', rel='stylesheet')
p магазины 'страница: '+page+' показывать на странице: '+perPage+' всего страниц: '+Math.ceil(count / perPage)
p Данные #{products}
p страница:  - #{current}
p Всего страниц - #{pages}

.paginator
	if pages>0
		ul.paginator-list.start.end
			if current != 1
				
				li.paginator-list__item.prev
					a.paginator-list__item.prev(href='/page?page/'+(current-1))
						span Предыдущая
			
				li.paginator-list__item
						a.paginator-list__item.nav(href='/page?page=1')
							span 1
			if current == 1
				li.paginator-list__item.active
					a.paginator-list__item.nav(href='/page?page=1')
						span 1			
			
			- var i = (Number(current) > 4 ? Number(current) - 3 : 2)
			if (i !== 2)
				li.paginator-list__item.dots ...
				//- li.paginator-list__item.dots.start
				//- 	span ...
			-for (; i <= (Number(current) + 3) && i < pages; i++)
				if i == current 
					li.paginator-list__item.active
						a.paginator-list__item(href='/page/?page='+i)
							span #{i}
				else
					if i != pages
						li.paginator-list__item
								a.paginator-list__item(href='/page/?page='+i)
									span #{i}
				if (i == Number(current) + 3 & i < pages)
					li.paginator-list__item.dots ...
			
			
			if current != pages
				li.paginator-list__item
					a.paginator-list__item.nav(href='/page?page='+pages)
						span #{pages}
				
				li.paginator-list__item.next
					a.paginator-list__item.prev(href='/page?page='+(+current+1))
						span Следующая			
			if current == pages
				li.paginator-list__item.active
					a.paginator-list__item.nav(href='/page?page='+pages)
						span #{pages}